<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
    <filter class="ch.qos.logback.classic.filter.ThresholdFilter">
      <level>info</level>
    </filter>
    <encoder>
      <Pattern>%boldBlue(%d) %boldGreen(%thread{10}) %highlight(%level) %cyan(%logger{5}) -%msg%n</Pattern>
      <charset>UTF-8</charset>
    </encoder>
  </appender>


  <root level="info">
    <appender-ref ref="CONSOLE"/>
  </root>
</configuration>
